<% if @current_user %>
<div class="navbar">
	<ul>
		<li><%= link_to 'Home', posts_path %></li>
		<li><%= link_to 'Profile', user_path(@current_user) %></li>
		<li style="background-color: white;"><%= render 'home/searchbar' %></li>
		<li><%= link_to 'Logout', :logout %></li>
	</ul>
</div>
<% end %>
