<div class="searchbar">

	<%= form_tag search_path, :method => 'get' do %>
		<p>
		<%= text_field_tag :search, params[:search], :class => 'search-bar' %>
		<%= submit_tag "Friend Search", :name => nil%>
		</p>
	<% end %> 

</div>