<div class="home-page">

	<%= render 'navbar' %>

	<!-- If there is a current user, display home page -->
	<% if @current_user %>

		<h1>Newsfeed</h1>

	<!-- If no current user, go to login page -->
	<% else %>

		<%= render 'login' %>

	<% end %>


</div>