<%= render 'home/navbar' %>

<div class="new-post" class="page">

	<form action="/posts" method="POST">
		<h4> Post Title<br><h2><input type="text" name="post[title]" style="width: 200px"></h2></h4>

		<h4> Post Body<br><input type="text" name="post[body]" style="width: 500px;height:200px ;"></h4>
	<!-- This allows the Ruby system to accept the new form -->
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<input type="Submit" value="Post">
	</form>

	<br>

	<%= link_to 'Previous', posts_path %>
</div>


