<%= render 'home/navbar' %>

<div class="new-post" class="page" class="form">

	<form class="form-table" action="/posts" method="POST">

		<h1>Submit a new post:</h1>
		<h4> Post Title<br><input type="text" name="post[title]" style="width: 200px"></h4>

		<h4> Post Body<br><textarea name="post[body]" style="width: 300px;height:100px ;"></textarea></h4>
	<!-- This allows the Ruby system to accept the new form -->
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<input type="Submit" value="Post">
	</form>

	<br>
</div>


